* {
    main-bg:            #10141AE6;
    main-fg:            #87A6AB;
    main-br:            #484E53;
    main-ex:            #315256;
    select-bg:          #87A6AB;
    select-fg:          #10141A;
}
